* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Special Elite", cursive;
  background-color: white;
  justify-items: center;
}

a {
  padding: .5rem;
}

h1 {
  text-align: left;
  margin: 1%;
  font-weight: 100;
  z-index: 1;
}

img {
  box-shadow: 23px 23px 3px 3px rgba(0, 0, 0, 0.605),
    -13px -13px 3px 3px rgba(128, 128, 128, 0.622);
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, 0.605),
    -3px -3px 3px 3px rgba(128, 128, 128, 0.622);
}

.App {
  margin: 1%;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  background-color: rgba(255, 0, 0, 0.646);
  justify-content: right;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 12;
  top: 10;
  left: 0;
  background-color: white;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 3%;
}

/* .imageList {
  background-color: red;
} */

.imageComponent {
  /* background-color: red; */
  display: block;
  margin-left: 15%;
  margin-right: 5%;
}